{% extends 'edukasi/main.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container-md" style="margin-top: 20px;">
    <a class='btn btn-warning float-right' href='/add_materi_topic/{{ materi_id }}/'>Edit topic Pelajaran</a>
    <div class="col-md-6">
        <form action="" method="post">
            {% csrf_token %} 
        <table>
            {{ materi.media }}
            {{ materi.as_table }}
        </table>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

      
{% endblock %}