{% extends 'edukasi/main.html' %}
{% load crispy_forms_tags %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<div class="container-md" style="margin-top: 20px;">
    <div class="col-xs-1"></div>
    <div class="col-xs-3">
        <table class="table-sm table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Kode</th>
                    <th>No Urut</th>
                    <th>Judul</th>
                    <th>Pertanyaan</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
                {% for i in all_soal %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.kode }}</td>
                    <td>{{ i.no_urut }}</td>
                    <td>{{ i.judul }}</td>
                    <td>{{ i.pertanyaan }}</td>
                    <td><a class="btn btn-info" href="{% url 'editsoal' i.id %}">Edit</a></td>
                    <td><a class="btn btn-danger" href="{% url 'deletesoal' i.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <hr>
    <style>
    textarea {height: 2em;}
    </style>
        
    <h2>Tambah Soal</h2>
    <div class="col-md-6">
        <form action="" method="post">
            {% csrf_token %} 
        <table>
            {{ soal.as_table }}
        </table>

        <button type="submit">Submit</button>
        </form>
    </div>

</div>

<script>
$("#id_tipe").change(function() {
  if ($(this).val() == "Pilihan Ganda") {
    $('#id_benarsalah').hide();
    $('#id_multianswer').show();
    $('#id_jawaban_url').hide();
    $('#id_jawaban_essay').hide();
    $('#id_jawaban_a').show();
    $('#id_jawaban_b').show();
    $('#id_jawaban_c').show();
    $('#id_jawaban_d').show();
    $('#id_jawaban_e').hide();
    $('#id_jawaban_f').hide();
    $('#id_jawaban_g').hide();
    $('#id_jawaban_h').hide();
    $('#id_jawaban_1').show();
    $('#id_jawaban_2').hide();
    $('#id_jawaban_3').hide();
    $('#id_jawaban_4').hide();
    $('#id_jawaban_5').hide();
    $('#id_jawaban_6').hide();
    $('#id_jawaban_7').hide();
    $('#id_jawaban_8').hide();
    } 
  else if ($(this).val() == "Betul / Salah") {
    $('#id_benarsalah').show();
    $('#id_multianswer').hide();
    $('#id_jawaban_url').hide();
    $('#id_jawaban_essay').hide();
    $('#id_jawaban_a').hide();
    $('#id_jawaban_b').hide();
    $('#id_jawaban_c').hide();
    $('#id_jawaban_d').hide();
    $('#id_jawaban_e').hide();
    $('#id_jawaban_f').hide();
    $('#id_jawaban_g').hide();
    $('#id_jawaban_h').hide();
    $('#id_jawaban_1').hide();
    $('#id_jawaban_2').hide();
    $('#id_jawaban_3').hide();
    $('#id_jawaban_4').hide();
    $('#id_jawaban_5').hide();
    $('#id_jawaban_6').hide();
    $('#id_jawaban_7').hide();
    $('#id_jawaban_8').hide();
    }
  else if ($(this).val() == "Mencocokkan") {
    $('#id_benarsalah').hide();
    $('#id_multianswer').hide();
    $('#id_jawaban_url').hide();
    $('#id_jawaban_essay').hide();
    $('#id_jawaban_a').show();
    $('#id_jawaban_b').show();
    $('#id_jawaban_c').show();
    $('#id_jawaban_d').show();
    $('#id_jawaban_e').hide();
    $('#id_jawaban_f').hide();
    $('#id_jawaban_g').hide();
    $('#id_jawaban_h').hide();
    $('#id_jawaban_1').show();
    $('#id_jawaban_2').show();
    $('#id_jawaban_3').show();
    $('#id_jawaban_4').show();
    $('#id_jawaban_5').hide();
    $('#id_jawaban_6').hide();
    $('#id_jawaban_7').hide();
    $('#id_jawaban_8').hide();
    }  
  else if ($(this).val() == "Jawab singkat") {
    $('#id_benarsalah').hide();
    $('#id_multianswer').hide();
    $('#id_jawaban_url').hide();
    $('#id_jawaban_essay').hide();
    $('#id_jawaban_a').show();
    $('#id_jawaban_b').hide();
    $('#id_jawaban_c').hide();
    $('#id_jawaban_d').hide();
    $('#id_jawaban_e').hide();
    $('#id_jawaban_f').hide();
    $('#id_jawaban_g').hide();
    $('#id_jawaban_h').hide();
    $('#id_jawaban_1').hide();
    $('#id_jawaban_2').hide();
    $('#id_jawaban_3').hide();
    $('#id_jawaban_4').hide();
    $('#id_jawaban_5').hide();
    $('#id_jawaban_6').hide();
    $('#id_jawaban_7').hide();
    $('#id_jawaban_8').hide();
    }
  else if ($(this).val() == "Numerik") {
    $('#id_benarsalah').hide();
    $('#id_multianswer').hide();
    $('#id_jawaban_url').hide();
    $('#id_jawaban_essay').hide();
    $('#id_jawaban_a').show();
    $('#id_jawaban_b').hide();
    $('#id_jawaban_c').hide();
    $('#id_jawaban_d').hide();
    $('#id_jawaban_e').hide();
    $('#id_jawaban_f').hide();
    $('#id_jawaban_g').hide();
    $('#id_jawaban_h').hide();
    $('#id_jawaban_1').hide();
    $('#id_jawaban_2').hide();
    $('#id_jawaban_3').hide();
    $('#id_jawaban_4').hide();
    $('#id_jawaban_5').hide();
    $('#id_jawaban_6').hide();
    $('#id_jawaban_7').hide();
    $('#id_jawaban_8').hide();
    }
  else if ($(this).val() == "Essay") {
    $('#id_benarsalah').hide();
    $('#id_multianswer').hide();
    $('#id_jawaban_url').hide();
    $('#id_jawaban_essay').show();
    $('#id_jawaban_a').hide();
    $('#id_jawaban_b').hide();
    $('#id_jawaban_c').hide();
    $('#id_jawaban_d').hide();
    $('#id_jawaban_e').hide();
    $('#id_jawaban_f').hide();
    $('#id_jawaban_g').hide();
    $('#id_jawaban_h').hide();
    $('#id_jawaban_1').hide();
    $('#id_jawaban_2').hide();
    $('#id_jawaban_3').hide();
    $('#id_jawaban_4').hide();
    $('#id_jawaban_5').hide();
    $('#id_jawaban_6').hide();
    $('#id_jawaban_7').hide();
    $('#id_jawaban_8').hide();
    }
  else if ($(this).val() == "Kumpul URL") {
    $('#id_benarsalah').hide();
    $('#id_multianswer').hide();
    $('#id_jawaban_url').show();
    $('#id_jawaban_essay').hide();
    $('#id_jawaban_a').hide();
    $('#id_jawaban_b').hide();
    $('#id_jawaban_c').hide();
    $('#id_jawaban_d').hide();
    $('#id_jawaban_e').hide();
    $('#id_jawaban_f').hide();
    $('#id_jawaban_g').hide();
    $('#id_jawaban_h').hide();
    $('#id_jawaban_1').hide();
    $('#id_jawaban_2').hide();
    $('#id_jawaban_3').hide();
    $('#id_jawaban_4').hide();
    $('#id_jawaban_5').hide();
    $('#id_jawaban_6').hide();
    $('#id_jawaban_7').hide();
    $('#id_jawaban_8').hide();
    }
  else if ($(this).val() == "Lain-lain") {
    $('#id_benarsalah').hide();
    $('#id_multianswer').hide();
    $('#id_jawaban_url').hide();
    $('#id_jawaban_essay').show();
    $('#id_jawaban_a').show();
    $('#id_jawaban_b').show();
    $('#id_jawaban_c').show();
    $('#id_jawaban_d').show();
    $('#id_jawaban_e').show();
    $('#id_jawaban_f').show();
    $('#id_jawaban_g').show();
    $('#id_jawaban_h').show();
    $('#id_jawaban_1').show();
    $('#id_jawaban_2').show();
    $('#id_jawaban_3').show();
    $('#id_jawaban_4').show();
    $('#id_jawaban_5').show();
    $('#id_jawaban_6').show();
    $('#id_jawaban_7').show();
    $('#id_jawaban_8').show();
     }
});
$("#id_tipe").trigger("change");  
</script>
      
{% endblock %}