{% extends 'edukasi/main.html' %}


{% block content %}

<section class="jumbotron text-center">
   <div class="container">
     <div class="alert alert-warning">TRAMPILL.COM Jadi bagian dari Wakaf Digital Aset. <a href="">Info Klik sini</a></div>
     <h1>Edukasi Alternatif</h1>
     <p class="lead text-muted">Website trampill adalah sebuah platform edukasi alternatif berbasis komunitas dimana ajar-mengajar dapat dilakukan oleh kontributor yang ingin ilmunya dapat dipelajari banyak orang sehingga tercapai edukasi yang mudah di akses siapa saja.</p>
     <p>
       <a href="{% url 'kontribusi' %}" class="btn btn-primary my-2">Ingin Kontribusi</a>
       <a href="{% url 'listmateri' %}" class="btn btn-secondary my-2">Mulai Belajar</a>
     </p>
   </div>
 </section>

 <div class="album py-5 bg-light">
   <div class="container">
      <div class="row-md-3 justify-content-center"><h1 class="text-center">Terbaru</h1></div>
      <div class="row" style="margin-top: 20px;">
        {% for i in materis %}
        <li class="media border" style="padding: 20px">
          <img src="images/{{ i.gambar}}" class="mr-3" alt="Thumbnail" width="200" height="200" >
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{ i.judul }}</h5>
            <p>{{ i.summary }}</p>
            <a class="btn btn-primary" href="/materi/{{ i.id }}">Lihat Materi</a>
            <a class="btn btn-warning" href="{% url 'favorit' i.id %}"><i class="fas fa-heart"></i></a>
          </div>
        </li>
         {% endfor %}
         
      </div>

   </div>
 </div>

      
{% endblock %}