{% extends 'edukasi/main.html' %}
{% block content %}


<section class="jumbotron text-center">
  <div class="container">
     <div class="alert alert-warning">TRAMPILL.COM Jadi bagian dari Wakaf Digital Aset. <a href="">Info Klik sini</a></div>
     <h1>Edukasi Alternatif</h1>
     <p class="lead text-muted">Website trampill adalah sebuah platform edukasi alternatif berbasis komunitas dimana ajar-mengajar dapat dilakukan oleh kontributor yang ingin ilmunya dapat dipelajari banyak orang sehingga tercapai edukasi yang mudah di akses siapa saja.</p>
     <p>
       <a href="{% url 'kontribusi' %}" class="btn btn-primary my-2">Ingin Kontribusi</a>
       <a href="{% url 'listmateri' %}" class="btn btn-secondary my-2">Mulai Belajar</a>
     </p>
  </div>
 </section>


<div class="container">
  <div class="row justify-content-end">
    <a href="{% url 'list_kegiatan' %}" class="text-right">[Lihat semua Kegiatan]</a>
  </div>
</div>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-deck">
        <div class="card">
          <img src="/images/inspirasi.png" class="card-img-top" alt="...">
          <div class="card-body">
            
            <h5 class="card-title">{{ inspirasi }}</h5>
            <p class="card-text">{{ pengumuman.all.0.isi | safe }}</p>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/images/kegiatan.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ kegiatans.all.0.judul_acara }}</h5>
            <p class="card-text">{{ kegiatans.all.0.deskripsi | safe }}</p>
            <a href="{% url 'view_kegiatan' kegiatans.all.0.id %}" class="btn btn-primary">Lihat kegiatan</a>
          </div>
        </div>
        <div class="card d-none d-md-block">
          <img src="/images/kegiatan2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ kegiatans.all.1.judul_acara }}</h5>
            <p class="card-text">{{ kegiatans.all.1.deskripsi | safe }}</p>
            <a href="{% url 'view_kegiatan' kegiatans.all.1.id %}" class="btn btn-primary">Lihat kegiatan</a>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="card-deck">
        {% if kegiatans.all.2 %}  
        <div class="card">
          <img src="/images/kegiatan.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ kegiatans.all.2.judul_acara }}</h5>
            <p class="card-text">{{ kegiatans.all.2.deskripsi | safe }}</p>
            <a href="{% url 'view_kegiatan' kegiatans.all.2.id %}" class="btn btn-primary">Lihat kegiatan</a>
          </div>
        </div>
        {% endif %}

        {% if kegiatans.all.3 %}
        <div class="card d-none d-md-block">
          <img src="/images/kegiatan2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ kegiatans.all.3.judul_acara }}</h5>
            <p class="card-text">{{ kegiatans.all.3.deskripsi | safe }}</p>
            <a href="{% url 'view_kegiatan' kegiatans.all.3.id %}" class="btn btn-primary">Lihat kegiatan</a>
          </div>
        </div>
        {% endif %}

        {% if kegiatans.all.4 %}
        <div class="card d-none d-md-block">
          <img src="/images/kegiatan3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ kegiatans.all.4.judul_acara }}</h5>
            <p class="card-text">{{ kegiatans.all.4.deskripsi | safe }}</p>
            <a href="{% url 'view_kegiatan' kegiatans.all.4.id %}" class="btn btn-primary">Lihat kegiatan</a>
          </div>
        </div>
        {% endif %}

      </div>
    </div>

    
    <div class="carousel-item">
      <div class="card-deck">

        {% if pengumuman.all.0 %}
        <div class="card">
          <img src="/images/pengumuman.png" class="card-img-top" alt="pengumuman">
          <div class="card-body">
            <h5 class="card-title">{{ pengumuman.all.0.judul }}</h5>
            <p class="card-text">{{ pengumuman.all.0.isi | safe }}</p>
          </div>
        </div>
        {% endif %}

        {% if kegiatans.all.5 %}
        <div class="card d-none d-md-block">
          <img src="/images/kegiatan.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ kegiatans.all.5.judul_acara }}</h5>
            <p class="card-text">{{ kegiatans.all.5.deskripsi | safe }}</p>
            <a href="{% url 'view_kegiatan' kegiatans.all.5.id %}" class="btn btn-primary">Lihat kegiatan</a>
          </div>
        </div>
        {% endif %}

        {% if kegiatans.all.6 %}
        <div class="card d-none d-md-block">
          <img src="/images/kegiatan2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ kegiatans.all.6.judul_acara }}</h5>
            <p class="card-text">{{ kegiatans.all.6.deskripsi | safe }}</p>
            <a href="{% url 'view_kegiatan' kegiatans.all.6.id %}" class="btn btn-primary">Lihat kegiatan</a>
          </div>
        </div>
        {% endif %}

      </div>
    </div>

  </div>


  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<div class="container" style="margin-top: 60px;">
  <div class="row justify-content-end">
    <a href="{% url 'listmateri' %}" class="text-right">[Lihat semua materi]</a>
  </div>
   <h1 style="margin-bottom: 20px;"><center>Unggulan</center></h1>
  <div class="row justify-content-center">
    {% for i in featured %}
    <div class="col-sm-3">
        <div class="card border-0 h-100 text-center">
          <img src="/images/{{ i.gambar }}" alt="" width="140" height="140" class="bd-placeholder-img rounded-circle mx-auto" style="margin-top: 10px;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center mx-auto" style="margin-top: 10px;">{{ i.judul }}</h5>
            <p class="card-text text-center">{{ i.pendek | safe }}</p>
            <a class="btn btn-secondary mt-auto" href="{% url 'materi' i.id %}" role="button">Lihat materi &raquo;</a>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>



<div class="container" style="margin-top: 60px;">
  <div class="row justify-content-end">
    <a href="{% url 'listmateri' %}" class="text-right">[Lihat semua materi]</a>
  </div>
   <h1 style="margin-bottom: 20px;"><center>Terbaru</center></h1>
  <div class="row justify-content-center">
    {% for i in materis %}
    <div class="col-sm-3">
        <div class="card border-0 h-100 text-center">
          {% if i.gambar %}
          <img src="/images/{{ i.gambar }}" alt="" width="140" height="140" class="bd-placeholder-img rounded-circle mx-auto" style="margin-top: 10px;">
          {% else %}
          <img src="/images/baru.png" alt="" width="140" height="140" class="bd-placeholder-img rounded-circle mx-auto" style="margin-top: 10px;">
          {% endif %}
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center mx-auto" style="margin-top: 10px;">{{ i.judul }}</h5>
            <p class="card-text text-center">{{ i.pendek | safe }}</p>
            <a class="btn btn-secondary mt-auto" href="{% url 'materi' i.id %}" role="button">Lihat materi &raquo;</a>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container" style="margin-top: 60px;">
  <div class="row justify-content-end">
    <a href="{% url 'listplaylist' %}">[Lihat semua playlist]</a>
  </div>
  <center><h2 style="margin-bottom: 20px;">Materi Playlist (Selalu FREE!!)</h2></center>
  <div class="card-columns">
    {% for i in playlist %}
    <div class="card border h-100  bg-light">
      <div class="card-body">
        <p class="card-title font-weight-bold"><a href="{% url 'materi' i.id %}">{{ i.judul }}</a></p>
        <p class="card-text" style="font-size: 0.9em;"><strong>{{ i.pengajar.nama }}</strong></p>
        <p class="card-text" style="font-size: 0.9em;">{{ i.pendek | safe }}</p>
      </div>
    </div>
    {% endfor %}
      
    <div class="card border h-100  bg-light">
      <div class="card-body">
        <p class="card-title font-weight-bold"><a href="">Kamu Kreator?</a></p>
        <p class="card-text" style="font-size: 0.9em;">ingin materi kamu tampil disini? request ke admin! [irzaip at gmail dot com]</p>
      </div>
    </div>
    <div class="card border h-100  bg-light">
      <div class="card-body">
        <p class="card-title font-weight-bold"><a href="">Keberatan tampil disini?</a></p>
        <p class="card-text" style="font-size: 0.9em;">request ke admin! untuk menghapus playlist kamu. [irzaip at gmail dot com]</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}


