{% extends 'edukasi/main.html' %}
{% block content %}

<section class="jumbotron text-center">
  <div class="container">
     <div class="alert alert-warning">TRAMPILL.COM Jadi bagian dari Wakaf Digital Aset. <a href="">Info Klik sini</a></div>
     <h1>Edukasi Alternatif</h1>
     <p class="lead text-muted">Website trampill adalah sebuah platform edukasi alternatif berbasis komunitas dimana ajar-mengajar dapat dilakukan oleh kontributor yang ingin ilmunya dapat dipelajari banyak orang sehingga tercapai edukasi yang mudah di akses siapa saja.</p>
     <p>
       <a href="{% url 'kontribusi' %}" class="btn btn-primary my-2">Ingin Kontribusi</a>
       <a href="{% url 'listmateri' %}" class="btn btn-secondary my-2">Mulai Belajar</a>
     </p>
  </div>
 </section>


<div class="container">
  <div class="row justify-content-end">
    <a href="{% url 'list_kegiatan' %}" class="text-right">[Lihat semua Kegiatan]</a>
  </div>
</div>

<div class="container">
  <div class="row justify-content-end">
    <a href="{% url 'listmateri' %}" class="text-right">[Lihat semua materi]</a>
  </div>
   <h1 style="margin-bottom: 20px;"><center>Terbaru</center></h1>
  <div class="row justify-content-center">
    {% for i in materis %}
    <div class="col-sm-3">
        <div class="card border-0 h-100 text-center">
          <img src="/images/{{ i.gambar }}" alt="" width="140" height="140" class="bd-placeholder-img rounded-circle mx-auto" style="margin-top: 10px;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center mx-auto" style="margin-top: 10px;">{{ i.judul }}</h5>
            <p class="card-text text-center">{{ i.pendek }}</p>
            <a class="btn btn-secondary mt-auto" href="{% url 'materi' i.id %}" role="button">Lihat materi &raquo;</a>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row justify-content-end">
    <a href="{% url 'listmateri' %}">[Lihat semua materi]</a>
  </div>
    <h2 style="margin-bottom: 20px;"><center>Materi Playlist</center></h2>
    <div class="row">
      {% for i in playlist %}
      <div class="col-sm-3">
          <div class="card border h-100  bg-light">
            <div class="card-body">
              <p class="card-title font-weight-bold"><a href="{% url 'materi' i.id %}">{{ i.judul }}</a></p>
              <p class="card-text" style="font-size: 0.9em;">{{ i.pendek }}</p>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  
</div>

{% endblock %}