{% extends 'edukasi/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

   <div class="container" style="margin-top: 20px;">
    <div class="row auto-mx">
      <div class="col-sm-1 col-md-2"></div>
      <div class="col-sm-10 col-md-8">
        <div class="card text-center">
          <div class="card-header">
            {{ kegiatan.materi.judul }}
          </div>
          <div class="card-body">
            <h2 class="card-title">{{ kegiatan.judul_acara }}</h2>
            <p class="card-text">Penyelenggara: {{ kegiatan.penyelenggara.nama_penyelenggara }} ({{ kegiatan.penyelenggara.status }})</p>
            <p class="card-text">Status acara: {{ kegiatan.status_acara }}</p>
            <p class="card-text">Tanggal: {{ kegiatan.tanggal_mulai | date:"d M Y"}} s.d {{ kegiatan.tanggal_selesai |  date:"d M Y" }}</p>
            <p class="card-text">Deskripsi: {{ kegiatan.deskripsi | safe }}</p>
            <a class="btn btn-primary" href="{{ kegiatan.url_donasi }}">url donasi</a>
            <hr>          
            <p class="card-text">Materi: {{ kegiatan.materi.judul | safe }}</p>
            <p class="card-text">Pengajar: {{ kegiatan.materi.pengajar.nama | safe }}</p>
            <p class="card-text">Tentang pengajar: {{ kegiatan.materi.pengajar.tentang_pengajar | safe }}</p>

            
          </div>
          <div class="card-footer">
            

          </div>
        </div>

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="align-content-center addthis_inline_share_toolbox"></div>
            

            
      </div>
      <div class="col-sm=1 col-md-2"></div>

    </div>
   </div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=irzaip"></script>
      
{% endblock %}