{% extends 'edukasi/main.html' %}


{% block content %}

   <div class="container" style="margin-top: 20px;">

      <div class="card">
        <div class="card-header">
         <h2>Cara Kontribusi</h2>
        </div> 
        <div class="card-body">
         <p>Buat kalian-kalian yang ingin kontribusi membuat materi, yang pertama-tama harus di ingat adalah ..., di platform ini  .... ajar mengajar bukan seperti guru dan murid, tapi lebih ke antar teman di komunitas yang sama, jadi usahakan agar materi itu fresh, tidak formal dan FUN. usahakan ada video, interaksi, quiz, tanya jawab, teka-teki dan lain-lain, yang penting point yang mau diajarkan itu nyampe!!!.. </p>

         <p>pengalaman saya menggunakan platform mooc / moodle kayak gini enak banget, karena kita bisa ketemu sama yang minatnya sama, bisa tuker informasi, bisa temenan beneran, dan juga malah bisa bisnis bareng.</p>
         
         <p>Tentu saja apa yang kalian buat nantinya di-review dulu kontennya, supaya sama-sama aman kita yaaaa.. usahakan konten yang memang buat sendiri, dan hargai karya orang lain, itu aja intinya.</p>
         
         <p>Untuk yang pengen kontribusi, daftar di websitenya (buat akun kamu) nanti hubungi admin-admin yang mengelola websitenya. ada Saya (irza) , Eris riso, dan riska. bilang saja minta di buat kan course. Nanti akan di buatkan template course kosong yang kamu bisa edit-edit sesuka kamu... tapi selama periode ini coursenya belum muncul di websitenya... cuma kamu doang yang bisa lihat dan para admin.  Naaaah nanti kalau kira-kira sudah selesai baru deh di launching bareng-bareng di websitenya.. gampang kan??. untuk detail cara buat coursenya nanti di kasih link video detailnya buat tahu fitur-fitur apa saja yang ada di situ.</p>
         
         <p>Yuk daftar kontributor, yuk sama-sama memajukan edukasi di Indonesia.</p>
         
         <p>Naah buat yang mau kontribusi selain konten, kita juga butuh temen-temen yang mau bantu koding, dokumentasi, dan promosi. projectnya ada beberapa :</p>
         <ul>
         <li><b>INDOSOAI</b> - kumpulan temen-temen yang belajar AI. ngumpul di WA grup.</li>
         <li><b>TRAMPILL Android APP</b> - perlahan tapi pasti, Nantinya mau di hubungkan dengan website sehingga interaksi website dan app serupa. kalau ingin bantu dari UI/UX dan koding apps, silahkan kontak irza.</li>
         <li><b>Volunteer INDOSOAI</b> - buat event edukasi dan promosi teknologi di kota masing-masing, bisa juga ngumpulin anak-anak yang tertarik untuk koding dan belajar teknologi dari usia dini.</li>
         <li><b>Machine Learning di Trampill</b>, project ini merupakan ide pengembangan dari platform edukasi, langkah pertama program yang ingin di buat adalah otomatisasi checking tugas di website trampill, terutama tugas Essay, yang berkonsep, "DO-AS-I-DO", di perlukan pemahaman NLP pada machine learning / deep learning.</li>
         <li><b>Intellegent Chatbot</b> melalui platform telegram, platform Trampill menggunakan ide gamification sebagai unsur menarik dan menyenangkan dari sementara ini ada 10 level di pengguna Trampill.com, di harapkan chatbot bisa menjawab pertanyaan materi dan juga penyemangat study. Dan nantinya mungkin bisa di kembangkan menjadi assisten belajar kamu.</li>
         </ul>

         <p>di bawah ini ada F.A.Q (Pertanyaan yg sering di gongong :D)</p>
        </div>
      </div>


    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               1. Apakah menggunakan web ini bayar?            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            jawab: Untuk mendaftar di web ini tidak bayar tapi mungkin ada kontributor yang menginginkan membuat materi berbayar, itu mungkin saja. Tapi kami terus mengusahakan agar ilmu di web ini selalu mudah di akses dan gratis. Doakan saja para kontributor agar amal ibadahnya di terima.
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               2. Gimana caranya kontribusi?
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            jawab: baca lagi ya dek ke paling atas he he.
         </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               3. Apakah materi boleh selain bisnis / teknologi / pengembangan diri?
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            jawab: Tentu saja boleh, tapi para admin sekarang lagi fokusnya disitu. Silahkan buat materi yang belum ada di mana-mana, tapi tetep komunikasi ya... sama adminnya... biar sama-sama aman kita.
         </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="heading4">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
               4. Tapi sudah banyak website edukasi yang besar-besar seperti ruangguru, skillakademy dan lain-lain?
            </button>
          </h2>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
          <div class="card-body">
            jawab: Belajar dan mengajar itu cocok-cocokan, gak selalu satu platform itu pasti lebih bagus dari yang lainnya, oleh karena itu kita pede-pede aja mau buat platform yang nantinya jadi unicorn sekelas dunia, seperti coursera, udemy dan lain-lain. Karena toh pada intinya yang belajar itu tercerahkan atau tidak, puas atau tidak.... mudeng atau enggak.. Lagi pula kita menempatkan diri Edukasi ALTERNATIF, anggap aja band NIRVANA pada jamannya. Padahal lagi musim POP dan METAL / TRASH METAL... Gak semua orang suka...   *duh tua banget gue. wkwk
         </div>
        </div>
      </div>

      <div class="card">
         <div class="card-header" id="heading5">
           <h2 class="mb-0">
             <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
               5. Kenapa websitenya lambat?
             </button>
           </h2>
         </div>
         <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
           <div class="card-body">
            jawab: mungkin kamu beli quota GPRS.
          </div>
         </div>
       </div>
 
       <div class="card">
         <div class="card-header" id="heading6">
           <h2 class="mb-0">
             <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
               6. Kenapa saya sudah belajar banyak tapi tetap pengangguran?
             </button>
           </h2>
         </div>
         <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
           <div class="card-body">
            jawab: mungkin kamu harus merubah cara berfikir kamu.
            </div>
         </div>
       </div>

       <div class="card">
         <div class="card-header" id="heading7">
           <h2 class="mb-0">
             <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
               7. Saya sudah trampill, tapi kenapa saya tidak bahagia?
             </button>
           </h2>
         </div>
         <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
           <div class="card-body">
            jawab: mungkin masih ada hal-hal di dunia ini yang penting sebenarnya untuk kamu kerjakan tapi kamu lupakan. (atau belagak lupa)
            </div>
         </div>
       </div>

       <div class="card">
         <div class="card-header" id="heading8">
           <h2 class="mb-0">
             <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
               8. Apa hubungannya Trampill dengan Teknomerdeka?
             </button>
           </h2>
         </div>
         <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
           <div class="card-body">
            jawab: Teknomerdeka adalah channel Youtube edukasi Irza Pulungan yang mempromosikan penggunaan AI sebagai salah satu solusi memecahkan masalah yang ada di Indonesia, Trampill menampilkan materi secara urut dan terprogram agar lebih mudah di pelajari. Tapi trampill bukan hanya untuk Teknomerdeka saja, siapapun yang ingin berkontribusi di Trampill di persilahkan.
            </div>
         </div>
       </div>

       <div class="card">
         <div class="card-header" id="heading9">
           <h2 class="mb-0">
             <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
               9. Apa itu INDOSOAI?
             </button>
           </h2>
         </div>
         <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
           <div class="card-body">
               jawab: INDOSOAI berasal dari ide inisiatif membuat School of AI di indonesia, dan akhirnya sekarang berkembang menjadi Indonesian Society of AI, sebuah komunitas yang mewadahi edukasi Artificial Intelligence di Indonesia.
            </div>
         </div>
       </div>

       <div class="card">
         <div class="card-header" id="heading10">
           <h2 class="mb-0">
             <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
               10. Saya YouTuber yang mempunyai konten edukasi di Youtube.
             </button>
           </h2>
         </div>
         <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
           <div class="card-body">
            Jawab: Silahkan gunakan platform ini untuk menampilkan urutan playlist kamu, dan jadikan pembelajaran menarik untuk penonton kamu. sekaligus kamu juga bisa promo channel kamu.. ada juga fasilitas untuk sertifikat, quizz dan lain-lain, Video tidak di hosting disini tetap di Youtube channel kalian, jadi jangan takut monetisasi youtube kalian hilang. Ada skrip yang di buat admin disini yang bisa langsung import playlist youtube kalian jadi course di website ini.
            Kalau pengen tahu justru awalnya memang ini di perlukan karena susahnya mengatur konten edukasi di platform YouTube saja. Bingungggg nyusun urutan belajar.
            </div>
         </div>
       </div>

       <div class="card">
         <div class="card-header" id="heading11">
           <h2 class="mb-0">
             <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
               11. Saya tidak bisa koding, saya bisa kontribusi apa?
             </button>
           </h2>
         </div>
         <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
           <div class="card-body">
            Jawab: materi di trampill.com adalah basis komunitas, jadi ikut terlibat dalam sharing informasi dalam komunitas juga sudah berkontribusi, kalau bergabung dengan salah satu project yang berjalan, bisa juga berkontribusi Membuat tutorial penggunaan, sharing informasi, buat dokumentasi, ataupun memberikan feedback kepada developer bagaimana pengalaman dari menggunakan platform kita untuk di buat lebih bagus lagi tentunya itu adalah kontribusi. Apapun yang kalian kerjakan baik dalam bentuk pekerjaan atau dana untuk kemajuan platform kita bersama ini pasti akan kami apresiasi.
            Memahami konsep opensource sangat dibutuhkan di era teknologi ini.
            </div>
         </div>
       </div>

       <div class="card">
         <div class="card-header" id="heading11">
           <h2 class="mb-0">
             <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
               12. Saya mau kontribusi dana saja.
            </button>
           </h2>
         </div>
         <div id="collapse12" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
           <div class="card-body">
            Jawab: Terima kasih sebelumnya, silahkan kunjungi http://www.karyakarsa.com/irzaip, pilih opsi yang cocok dengan kamu.
            </div>
         </div>
       </div>



    </div>

   </div>

      
{% endblock %}