{% extends 'edukasi/main.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container-md" style="margin-top: 20px;">
    <h2>List Diskusi</h2>
    <div class="col-xs-1"></div>
    <div class="col-xs-3">
<table class="table-sm table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>User</th>
            <th>Topic</th>
            <th>pesan</th>
            <th>date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
        {% for i in listdiskusi %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.user.username }}</td>
            <td>{{ i.topic.judul }}</td>
            <td>{{ i.pesan }}</td>
            <td>{{ i.date_created }}</td>
            <td><a class="btn btn-info" href="{% url 'editdiskusi' i.id %}">Edit</a></td>
            <td><a class="btn btn-danger" href="{% url 'deletediskusi' i.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>

</div>

      
{% endblock %}