{% extends 'edukasi/main.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container-md" style="margin-top: 20px;">
    <h2>List Tugas</h2>
    <a class= "btn btn-primary" href="{% url 'addtugas' %}">Tambah Ujian / Tugas</a>
    <div class="col-xs-1"></div>
    <div class="col-xs-3">
        <table class="table-sm table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Kode</th>
                    <th>Judul</th>
                    <th>Deskripsi</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Soal</th>
                </tr>
            </thead>
            <tbody>
                
                {% for i in listtugas %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.kode }}</td>
                    <td>{{ i.judul }}</td>
                    <td>{{ i.deskripsi }}</td>
                    <td><a class="btn btn-info" href="{% url 'edittugas' i.id %}">Edit</a></td>
                    <td><a class="btn btn-danger" href="{% url 'deletetugas' i.id %}">Delete</a></td>
                    <td>
                    <a class="btn btn-secondary" href="{% url 'addsoal' i.id %}">Add Soal</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

      
{% endblock %}