{% extends 'edukasi/main.html' %}
{% block content %}
    <div class="container" style="margin-top: 20px">
      <div class="row justify-content-md-center">
        <div class="col-1"></div>
        <div class="col-4 border" style="padding: 30px">
          <form class='form-group row' action="" method="post">
            <div class="form-group">
                <h1>
                  Login
                </h1>
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
                <hr>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                {% for message in messages %}
                <div class="alert alert-info">{{message}}</div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Login</button>

            </div>
          </form>
          <p>Apabila anda belum terdaftar? <a href="{% url 'register' %}">KLIK di SINI</a></p>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
{% endblock %}