{% load static %}
{% block navigation %}

<style>
  .idlogged{
    color: #ffffff;
    margin-right: 20px ;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TRMPLL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Beranda <span class="sr-only">(current)</span></a>
        </li>

        {% if not request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">LOGIN <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Materi Saya
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for p in pendaftaran %}
            <a class="dropdown-item" href="/materi/{{ p.materi.id }}">{{ p.materi.judul }}</a>
            {% endfor %}
          </div>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Favorit
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for f in favorit %}
            <a class="dropdown-item" href="/materi/{{ f.materi.id }}"> {{ f.materi.judul }}</a>
            {% endfor %}
          </div>
        </li>
        {% endif %}

        {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'listmateri' %}">List Materi</a>
            <a class="dropdown-item" href="{% url 'add_materi' %}">Tambah Materi Baru</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'listtugas' %}">List Tugas</a>
            <a class="dropdown-item" href="{% url 'listsoal' %}">List Soal</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'listdiskusi' %}">List Diskusi</a>
            <a class="dropdown-item" href="{% url 'listpembayaran' %}">List Pembayaran</a>       
            <a class="dropdown-item" href="{% url 'listjawaban' %}">List Jawaban</a>              
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin/">Admin</a>
          </div>
        </li>
        {% endif %}

        {% if request.user.is_authenticated  %}    
        {% if pesan %}    
        <li class="nav-item dropdown">
          <button class="btn btn-danger dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ pesan.count }}</button>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            {% for p in pesan %}
            <a href="#" class="dropdown-item"><strong>{{ p.sender }}</strong>: {{ p.msg_content }}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a href="/readall/" class="dropdown-item">Tandai telah semua dibaca</a>
          </div>
        </li>
        {% endif %}
        {% endif %}

      </ul>

      {% if request.user.is_authenticated  %}
      <span class="idlogged">Assalamualaikum, {{request.user}}</span>
      <span class="idlogged"><a href="{% url 'logout' %}">LOGOUT</a></span>
      {% endif %}

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

{% endblock%}