{% extends 'edukasi/main.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Lupa Password kamu? Masukkan disini alamat email kamu, dan kami akan kirim cara mereset password, Jangan lupa untuk mengecek folder SPAM kalau seperti tidak masuk.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Kirim email</button>
        </form>
  	</div> 

{% endblock %}