{% extends 'edukasi/main.html' %}

{% block content %}
   <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-8">
                    <h3>{{ materi.judul }}</h3>
                    <h4>{{ topic_content.judul}}</h4>

                    {% if topic_content.jenis == 'Link Video' %}
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                        <iframe width="100%" height="550" src="https://www.youtube.com/embed/{{ ytb_video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% endif %}

                    {% if topic_content.jenis == 'Konten Umum' %}
                    <div class="row" style="margin: 20px;">
                        {{ topic_content.isi_tambahan }}
                    </div>
                    {% endif %}

                    {% if topic_content.jenis == 'Url luar' %}
                    <div class="row" style="margin: 20px;">
                        <a class="btn btn-info btn-block" href="{{ topic_content.link }}">{{ topic_content.judul }}</a>
                    </div>
                    {% endif %}

                <hr>

                {% if tugas != "" %}
                <div class="card border-info mb-3">
                    <div class="card-header" style="background-color: aquamarine;"><h4>{{ tugas.judul }}</h4></div>
                    <div class="card-body">
                      <p class="card-text">{{ tugas.deskripsi }}</p>
                      <p><a class="btn btn-info" href="/ujiansoal/{{ tugas.id }}">Klik disini untuk melihat detail</a></p>
                    </div>
                </div>
                {% endif %}

                <hr>    
                <div class="row">
                    {% if prev != 0 %}
                        <div class="col">
                            <a class="btn btn-primary btn-lg btn-block" href="{% url 'topic' prev %}"><i class="far fa-caret-square-left"></i>  Mundur</a>
                        </div>
                    {% endif %}

                    {% if next != 0 %}
                        <div class="col">
                            <a class="btn btn-primary btn-lg btn-block" href="{% url 'topic' next %}">Topic Berikut  <i class="far fa-caret-square-right"></i></a>
                        </div>
                    {% endif %}
                </div>
                <hr>
                
                



                <hr>
                <div class="row" style="margin-top: 20px;">
                    <div class="col" >
                        {% for d in diskusi %}
                            <div class="card" style="margin-top: 5px;">
                                <div class="row">
                                <div class="col-sm-2">
                                    <div class="card-header">
                                    {{ d.user.username }}
                                    </div>
                                </div>
                                <div class="col-xg-6">
                                    <div class="card-body">
                                        <p class="card-text"><strong>{{ topic_content.judul }}</strong>-{{ d.date_created }}</p>
                                        <p class="card-text">{{ d.pesan }}</p>
                                      </div>
                                </div>
                              </div>
                        </div>
                        {% endfor %}

                        <div class="card" style="margin-top: 10px;">
                            <div class="card-header">
                              {{ request.user }}
                            </div>
                            <div class="card-body">
                              <form action="" method="post">
                                  {% csrf_token %}
                                <div class="mb-3">
                                    <label for="pesan" class="form-label">Ketik pesan diskusi</label>
                                    <textarea class="form-control" name="pesan" id="pesan" rows="3"></textarea>
                                  </div>
                                <button class="btn btn-primary" type="submit">Tambah Diskusi</button>
                              </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                <div class="col-4">
                    <ul class="nav nav-pills flex-column">
                    {% for i in topics %}
                        <li class="nav-item border">
                            {% if i.id == sid %}
                                <a class="nav-link active" href="/topic/{{ i.id }}">{{ i.judul}}</a>
                            {% else %}
                                <a class="nav-link {% if i.id in completed %}text-success{% endif %}" href="/topic/{{ i.id }}">{{ i.judul}}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
      <div class="col-md-1"></div>
    </div>


   </div>

      
{% endblock %}